.app-container {
  padding: 50px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  margin-bottom: 20px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

p,
span,
li {
  font-size: 1.25rem;
  color: var(--muted-text-color);
  margin-bottom: 14px;
}

button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 14px 28px;
  border-radius: var(--radius);
  font-size: 1.125rem;
}

button:hover {
  background-color: #2563eb;
}

input,
select,
textarea {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 14px;
  border-radius: var(--radius);
  width: 100%;
  margin-bottom: 20px;
}

.navbar {
  background-color: var(--secondary-color);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 50px;
}

.navbar a {
  color: var(--text-color);
  margin-left: 28px;
  font-weight: 500;
  font-size: 1.125rem;
}

.card {
  background-color: var(--secondary-color);
  padding: 28px;
  border-radius: var(--radius);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 28px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
